services:
  - type: web
    name: fraud-detection-api
    runtime: python3
    buildCommand: pip install -r requirements.txt
    startCommand: cd server/app && uvicorn main:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: SECRET_KEY
        generateValue: true
      - key: ALGORITHM
        value: HS256
      - key: ACCESS_TOKEN_EXPIRE_MINUTES
        value: 30
      - key: FRONTEND_URL
        sync: false
